Cython==0.29.14
numpy==1.18.1
requests
flask-login==0.4.1
git+git://github.com/alessiosavi/face_recognition@v1.2.4#egg=face_recognition
redis==3.3.11
Flask_MonitoringDashboard==3.0.5
Flask==1.1.1
tqdm==4.41.1
Werkzeug==0.16.0
olefile==0.46
Pillow==7.0.0
py-bcrypt==0.4
scikit_learn==0.21.3