Cython
numpy==1.17.4
flask-login==0.4.1
face_recognition==1.2.3
redis==3.3.11
Flask_MonitoringDashboard==3.0.5
Flask==1.1.1
tqdm==4.40.2
Werkzeug==0.16.0
olefile==0.46
Pillow==7.0.0
py-bcrypt==0.4
scikit_learn==0.21.3